body {
    background-color: rgb(39, 41, 46);
    color: white;
}

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
}

main {
    background-color: white;
    color: black;
    margin-top: -300px;
    box-shadow: 0px 0px 10px -1px rgba(255, 255, 255, 1);
}

.fixedWindow {
    max-width: 930px;
    margin-left: auto;
    margin-right: auto;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.loading {
    height: 100vh;
    background-color: lightblue;
    z-index: 1;
    width: 100%;
    position: absolute;
}

#loadingIcon::before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    content: '';
    display: block;
    height: 30px;
    width: 30px;
    background-color: deepskyblue;
    border-radius: 50%;
    transition: all;
    z-index: 1;
    animation: loadingIconAnimation 1s infinite;
}

#loadingIcon::after {
    position: absolute;
    margin-left: -15px;
    margin-top: -15px;
    top: 50%;
    left: 50%;
    content: '';
    display: block;
    height: 30px;
    width: 30px;
    background-color: deepskyblue;
    border-radius: 50%;
    transition: all;
    z-index: 1;
    animation: loadingIconAnimation 1s infinite;
    animation-delay: 0.5s;
}

@keyframes loadingIconAnimation {
    0% {
        transform: scale(0.1)
    }
    100% {
        transform: scale(4);
        opacity: 0;
    }

}
.topBar {
    padding: 20px 16px;
    display: flex;
    justify-content: space-between;
}

.topNavBar > ul {
    display: flex;
    justify-content: space-around;
}
.topNavBar > ul > li{
    padding: 0px,10px;
}
.topNavBar > ul > li > a {
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: transparent 3px solid;
    border-top: transparent 3px solid;
    color: rgba(255, 255, 255, 0.7);
    display: block;
}

.topNavBar > ul > li > a:hover {
    border-bottom-color: lightblue;
    border-radius: 1px;
}

.topNavBar > ul {
    list-style: none;
    padding-inline-start: 0px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.topNavBar {
    padding-top: 9px;
}

.logo {
    font-family: "Arial Black";
    font-size: 24px;
    display: block;
    line-height: 50px;
}

#topSpan1 {
    color: lightblue;
}

#topSpan2 {
    color: snow;
}

.banner {
    height: 512px;
    background-image: url("../image/banner2.png");
    background-color: lightblue;
    background-position: center center;
    background-size: cover;
}


.profile {
    margin: 58px 15px;
}

.picture {
    margin: 58px 50px;
}

.welcomeIcon > span {
    background-color: lightblue;
    color: snow;
    font-weight: bold;
    font-size: 14px;
    padding: 4px 12px;
    display: inline-block;
    line-height: 20px;
    font-family: "Arial Black";
}

.welcomeIcon .triangle {
    border: 10px solid lightblue;
    width: 0px;
    height: 0px;
    border-top: 0px;
    border-bottom-color: transparent;
    border-right-color: transparent;
    margin-left: 6px;
}

.profile-info {
    border-bottom: solid 1px rgb(222, 222, 222);
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.profile {
    width: 45%;
    color: #3d4451;
}

.profile-info > h1 {
    padding: 10px 0;
}

.profile-info > span {
    font-size: 18px;
    font-family: KaiTi;
}

.profileList dt, dd {
    float: left;
    padding: 10px 0;
}

.profileList dt {
    font-weight: bold;
    width: 30%;
    clear: both;
}

.profileList dd {
    color: #9da0a7;
    width: 70%;
}

footer {
    background-color: lightblue;
}

footer > ul {
    list-style: none;
    text-align: center;
}

footer > ul > li {
    display: inline-block;
    padding: 2px 20px;
}

footer .icon {
    height: 30px;
    width: 30px;
    fill: white;
    padding: 10px;
}

footer .icon:hover {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
    transition: background-color 1.3s;
}

.download-resume {
    text-align: center;
    margin-top: 35px;
}

.download-button > a {
    padding: 19px 55px;
    font-size: 18px;
    background-color: rgb(39, 41, 46);
    border: 2px rgb(64, 71, 84) solid;
    border-radius: 5px;
    display: inline-block;
    color: rgb(152, 152, 157);
    transition: box-shadow 0.5s;
}

.download-button > a:hover {
    box-shadow: 0px 0px 9px 3px rgba(255, 255, 255, 1);
}

.download-button > p {
    margin-top: 25px;
    font-size: 16px;
    line-height: 26px;
}

.professionalSkill {
    margin-top: 40px;
    text-align: center;
}

.sectionTitle {
    color: rgb(152, 152, 157);
    font-size: 34px;
    font-family: "Microsoft YaHei";
}

.professionalSkill > ul {
    list-style: none;
}

.professionalSkill > ul > li {
    float: left;
    width: 48%;
    clear: left;
    padding: 20px 0;
    text-align: left;
    color: #9c9c9c
}

.professionalSkill > ul > li:nth-child(even) {
    float: right;
    width: 48%;
    clear: right;
}

.skillBar {
    background: rgb(69, 86, 97);
    border-radius: 2px;
    margin: 5px 0px;
}

.skillBar .skillBarValue {
    background: lightblue;
    border-radius: 2px;
    height: 5px;
}

.Project {
    text-align: center;
    margin-top: 30px;
}

.Project > nav {
    display: inline-block;
    vertical-align: top;
}

.Project > nav > ul {
    list-style: none;
}

.Project > nav > ul > li {
    display: inline-block;
    padding: 20px 30px 5px;
    cursor: pointer;
}

.Project > nav > .moveBar {
    height: 5px;
    width: 100%;
    background-color: rgb(69, 86, 97);
    border-radius: 2px;
}

.moveBar > .touchBar-State1 {
    width: 30%;
    height: 5px;
    background-color: lightblue;
    border-radius: 2px;
    position: relative;
    left: 0px;
    transition: left 0.5s;
}

.moveBar > .touchBar-State2 {
    width: 30%;
    height: 5px;
    background-color: lightblue;
    border-radius: 2px;
    position: relative;
    left: 95px;
    transition: left 0.5s;
}

.moveBar > .touchBar-State3 {
    width: 34%;
    height: 5px;
    background-color: lightblue;
    border-radius: 2px;
    position: relative;
    left: 203px;
    transition: left 0.5s;
}

.portfolio {
    position: relative;
    margin-top: 20px;
    height: 576px;
}

#portfolioItem1 {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}

#portfolioItem2 {
    position: absolute;
    top: 0;
    left: 634px;
    display: block;
}

#portfolioItem3 {
    position: absolute;
    top: 298px;
    left: 634px;
    display: block;
}

#portfolioItem1 > article {
    background-image: url("/image/portfolio.jpg");
    height: 576px;
    width: 607px;
}

#portfolioItem2 > article {
    background-image: url("/image/portfolio2.jpg");
    height: 278px;
    width: 294px;
}

#portfolioItem3 > article {
    background-image: url("/image/p.jpg");
    height: 278px;
    width: 294px;
}